.interactive-rating{
    font-size: 40px;
    font-weight: bold;
}

/* Define basic styles for the star */
.star {
    margin-right: 5px; /* Spacing between stars */
    cursor: pointer;
    color: gray; /* Color of the unfilled star */
  }
  
  /* Define styles for filled star */
  .star.filled {
    color: gold; /* Color of the filled star */
  }

  .comment-input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    resize: vertical; /* Allow vertical resizing */
    height: 80px; /* Set the height of the input field */
  }