.navbar {
  background-color: #d2681e;
  padding: 5px;
  margin-bottom: 1rem;
  width: 100%;
  display: flex; /* Use flex display to arrange children */
  justify-content: space-between; /* Add this to push the search field to the right */
  align-items: center; /* Align items vertically in the center */
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center; /* Align items vertically in the center */
  width: 100%;
}

.nav-item {
  margin-right: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.spacer {
  width: 10%;
}

.app-header a {
  font-size: 2.2rem;
}

/* Add this style to push the SearchField to the right */
.search-field-container {
  margin-left: auto;
  margin-right: 2rem;
}
