.user-screen {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-details {
    margin-bottom: 30px;
  }
  
  .user-screen .label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .user-screen .value {
    color: #333;
  }

  .unsel {
      width: 30rem;
color: chocolate;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin: 15px auto;
  border-bottom: 1px solid #333;
  padding: 10px;
  }


.liked {
  display: block;
  font-size: 1.2em;
  color: chocolate;
}

button {
  background-color: #deb887;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d2a066;
}